
#忽略
**/node_modules/*
node_modules/*
npm-debug.log
example/upload-files

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/release
/release/
/.idea
/release/fonts/w-e-icon.woff
/release/wangEditor.css
/release/wangEditor.js
/release/wangEditor.min.css
/release/wangEditor.min.js
/release/wangEditor.min.js.map
/release/fonts/w-e-icon.woff
/release/wangEditor.css
/release/wangEditor.js
/release/wangEditor.min.css
/release/wangEditor.min.js
/release/wangEditor.min.js.map
